*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.Section{

    position: relative;
    background-color: Red;
    width: 100%;
    height:100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}