.imageBox{
        object-fit: cover;
        height: 100%;
        width: 100%;
}

.fiiting{
    overflow: hidden;
    object-fit: cover;
}


.fitting {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .fitting img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  